<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Contraseña Anterior" formControlName="passwordAnterior">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nueva Contraseña" formControlName="nuevaPassword">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Repetir Contraseña" formControlName="confirmPassword">
            </div>
            <div class="col text-center">
                <button class="btn btn-primary mr-2 btn-acep">Aceptar</button>
                <button class="btn btn-secondary">Volver</button>
            </div>
        </form>
    </div>
</div>