<div class="text-center">
    <app-loading *ngIf="loading"></app-loading>
</div>

<div class="text-center" *ngIf="cuestionario != null">
    <h4 class="card-title">{{ cuestionario.nombre | uppercase }}</h4>
    <p class="card-text">{{ cuestionario.descripcion | uppercase }}</p>
    <hr>
    <div *ngFor="let pregunta of cuestionario.listPreguntas" style="margin-bottom: 10px;">
        <div class="card-header">
            <b>{{ pregunta.descripcion }}</b>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4 offset-lg-4">
            <button class="btn btn-primary btn-lg btn-block" routerLink="/dashboard/estadisticas/{{ cuestionario.id }}">Volver</button>
        </div>
    </div>
</div>